<% @page_title = 'About' %>
<h2>About</h2>




<div class="about-text">
  <p class="about-heading">Welcome Rearrange a Room!</p>
    Rearrange a Roomはお部屋の模様替えの情報共有サイトです。<br />
    こだわりのお部屋の写真をコメントをつけて共有をしたり、<br />
    これから模様替えを検討している方は、投稿されたRoomから情報収集をすることが可能です。<br />
    また、間取り、お部屋の種類、お部屋のイメージ別、<br />
    またはユーザーとRoomからフリーワード検索もできるので、<br />
    自分の気になるお部屋に絞って閲覧することもできます。<br />
    <br>
    お気に入りのユーザーでフォローをし合ったり、お気に入りの投稿へは、いいねをすることができます。<br />
    また投稿へのコメントをすることや、ダイレクトメッセージを送ることができるので、<br />
    投稿に対して気になるポイントや質問などがあれば、コミュニケーションを取ることができます。

</p>
</div>

