/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


// body {
//   background-image: image-url("/images/.jpg");
//   background-size: cover;
// }

main {
  width: 100%;
  padding: 20px 20px;
}

h1 {
  margin-bottom: 70px;
  font-size: 70px;
  font-family: Impact,Charcoal;
  text-align: center;
}

h2 {
  margin-bottom: 70px;
  font-family: Impact,Charcoal;
  font-size: 70px;
  text-align: center;



}

.plofile-container {
  padding :20px;
  background-color: rgba(243, 237, 72, 0.70);
  box-shadow: 0 20px 35px 0 #161701;
}

table {
  background-color: rgba(243, 237, 72, 0.79);

}

.post-container {
   display: flex;
   justify-content: left;
   flex-wrap: wrap;
}

.post-list {
 margin: 15px;
}


/* ヘッダー */
 header {
   width: 100%;
   height: 90px;
   padding-top: 10px;
   background-size: cover;

 }

.header {
  margin: 0 25px;
  padding: 10 0px;
  display: flex;
  justify-content: flex-end;
}

.logo {
  margin-right: auto;
  font-family: Impact,Charcoal;
  font-size :35px;
}
.header-list{
  display: flex;
  justify-content: center;
}

.header-list-item {
  padding-right: 10px;
  display: inline-block;
  text-align: center;
  line-height: 90px;
}

header .btn-primary {
  font-size: 16px;
  font-weight: bold;
  background-color: rgba(33, 157, 159, 0.50);
  padding: 8px 20px;
  color: #ffffff;
  width: 200px;
  height: 100px;
  border-radius: 50%;
}

.hamburger {
  display : block;
  position: fixed;
  z-index : 3;
  right : 13px;
  top   : 12px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 6px;
  background : #555;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition   : 0.5s ease-in-out;
  transition        : 0.5s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 10px;
}
.hamburger span:nth-child(2) {
  top: 20px;
}
.hamburger span:nth-child(3) {
  top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1) {
  top : 16px;
  left: 6px;
  -webkit-transform: rotate(315deg);
  -moz-transform   : rotate(315deg);
  transform        : rotate(315deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  top: 16px;
  -webkit-transform: rotate(-315deg);
  -moz-transform   : rotate(-315deg);
  transform        : rotate(-315deg);
}

nav.globalMenuSp {
  position: fixed;
  z-index : 2;
  top  : 0;
  left : 0;
  color: #000;
  background: #fff;
  text-align: center;
  transform: translateY(-100%);
  transition: all 0.6s;
  width: 100%;
}

nav.globalMenuSp ul {
  background: #ccc;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #fff;
}
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
nav.globalMenuSp ul li:hover{
  background :#ddd;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #000;
  padding: 1em 0;
  text-decoration :none;
}

nav.globalMenuSp.active {
  transform: translateY(0%);
}



/* main */

.room-production-table {
  margin-top: 100px;
}

li {
  list-style-type: none;
}

.member-name {
  display: inline-block;
  text-align: center;
  margin-right: 20px;
}

.chat-box {
  display: flex;
  margin-bottom: 20px;
}

.chat-hukidashi {
  margin-top: 15px;
  margin-left: 15px;
}
 
 
