<h2>USERS</h2>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>名前</th>
      <th>プロフィール</th>
      <th>フォロワー数</th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
    <tr>
      <td><%= attachment_image_tag member, :profile_image, :limit, 50, 50, fallback: "no_image.jpg",size: "100x100" %></td>
      <td><%= member.nickname %></td>
      <td><% member.profile %></td>
      <td>
        <a href="<%= followers_member_path(member.id) %>">
                <strong id="followers" class="follow_followed"><%= member.followers.count %></strong>
                フォロワー
            </a>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
